CF_KEY = "000000000000000ysDPr9_Pqf00000000"
CF_DOMAIN = "passdomain.cn"

TP_HOST = "192.168.60.1"
TP_USER = "admin"
TP_PWD = "admin_passwd"

PERIOD_UPDATE = 60*5
PERIOD_AUTH = 60*60

DOMAIN_LIST = {
    "WAN1": "add1.passdomain.cn",
    "WAN2": "add2.passdomain.cn",
}
